
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'misolight';
  src: local('misolight'),
       url('../src/assets/fonts/miso-light-webfont.woff2') format('woff2')
}

.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
}

.carousel .thumbs {
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}


